{% extends "pretixpresale/event/base.html" %}
{% load i18n %}
{% load static %}
{% load thumb %}

{% block title %}{% trans "DB Event Discount" %} :: {{ event.name }}{% endblock %}
{% block content %}
    <p>
        <img src="{% static 'pretix_dbvat/DB_VAT_Mohnblume_1200x600px_de.avif' %}" width="100%" />
    </p>
    <p>
        {% blocktrans trimmed with discount_percentage=event.settings.dbvat_discount %}
            For a sustainable journey to our event, we're happy to provide you with an exclusive
            {{ discount_percentage }}% event discount for long-distance travel on Deutsche Bahn.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with bahn="https://www.bahn.de/" navigator="https://www.bahn.de/service/mobile/db-navigator" %}
            These eCoupons can be redeemed on when booking Flex-, SuperSpar- and Sparpreis tickets using
            <a href="{{ bahn }}" target="_blank">www.bahn.de</a> or the <a href="{{ navigator }}">DB Navigator apps</a>
            using your personal account.
        {% endblocktrans %}
    </p>

    <h3>{% trans "How can I redeem the DB Event Discount" %}</h3>
    <p>
        {% static "pretix_dbvat/redemption_intructions_de.pdf" as redemption_instructions %}
        {% blocktrans trimmed with redemption_instructions=redemption_instructions %}
            Generally speaking, the DB Event Discount can be redeemed for any Flex-, SuperSpar- and Sparpreis ticket,
            when purchasing it using a personal/private DB account. Just select your desired connection, log into your
            account and apply the eCoupon on the payment page as you would apply any other DB discount code. A more
            extensive and visual walkthrough can be <a href="{{ redemption_instructions }}">downloaded here</a>.
        {% endblocktrans %}
    </p>

    <h3>{% trans "Why have I received two eCoupons?" %}</h3>
    <p>
        {% blocktrans trimmed %}
            In order to allow for greater flexibility - for example when booking the outward and return journey
            separately - you have been provided with two eCoupon codes as every code can only be used once. You do
            however not need to redeem both eCoupons: it is up to you to redeem both, one or none. In case you are
            already set on your outward and return journey, you can purchase them both at the same time using only one
            eCoupon.
        {% endblocktrans %}
    </p>

    <h3>{% trans "Does the DB Event Discount/Event Ticket include my entrance ticket to the event?" %}</h3>
    <p>
        {% blocktrans trimmed %}
            No. The DB Event Discount (and the former DB Event Ticket) are an offer which allows you to purchase
            discounted long distance train tickets. However, these tickets do not include the entrance ticket to the
            event itself. As the same, purchasing an event ticket does not include a train ticket for travel from/to the
            event venue.
        {% endblocktrans %}
    </p>

    <h3>{% trans "What are the terms and conditions governing this offer?" %}</h3>
    <p>
        {% static "pretix_dbvat/terms_and_conditions_de.pdf" as terms_conditions %}
        {% blocktrans trimmed with terms_conditions=terms_conditions%}
            The terms and conditions governing this offer, as well as frequently asked questions (FAQ) can be
            <a href="{{ terms_conditions }}">downloaded here</a>.
        {% endblocktrans %}
    </p>
{% endblock %}
